<html>
  <head>
    <style>
    body {
        background: <%= color %>;
    }
    </style>
  </head>
  <body>
    <p>
      Guess the secret number!
      <% if cheat %>
      <%= "Psst, the secret number is #{number}"  %>
      <% end %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
    <%= message %>
    You have <%= guess_count%> guesses left!
    </p>
  </body>
</html>